.c-form{
    &__input{
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        border-radius: 3px;
        border: 2px solid #ddd;
        box-sizing: border-box;
        margin-bottom:20px;
    }
}
