.c-menu {
    display: flex;
    align-items: center;
    font-size: $font-size_l;
    font-family: $font-family_sans-serif;
    color: $font-color_header;
    @include mq() {
        display:block;
        font-size: $font-size_s;
        position: absolute;
        top: 0;
        background: rgba(255, 255, 255, .85);
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        transition: .5s;
        .active {
            transition: .5s;
            transform: translateX(-100%);
            background: rgba(255, 255, 255, .85);
            text-align: center;
            font-size: $font-size_xl;
            line-height:50px;
        }
    }

    &__item {
        margin-right: $space_xl;
    }

    &__sidebar{
        display:none;
        @include mq() {
            display: block;
        }
    }

    &__sp{
        display: none;
        transition: all .4s;
        box-sizing: border-box;
        position: relative;
        width: 40px;
        height: 32px;
        z-index: 3;
        @include mq() {
            display: inline-block;
            span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #777;
                border-radius: 4px;
            }

            span:nth-of-type(1) {
                top: 0;
            }

            span:nth-of-type(2) {
                top: 14px;
            }

            span:nth-of-type(3) {
                bottom: 0;
            }
        }
    }
}
