.c-title{
    font-size: $font-size_l;
    font-family: $font-family_sans-serif;
    font-weight: bold;
    @include mq(){
        font-size: $font-size_s;
    }

    &__sidebar {
        color: $font-color-default;
        width: $sidebar;
        background: none;
        font-size: 16px;
        letter-spacing: 2px;
        position: relative;
        padding: 0;
        text-align: center;
        @include mq(){
            font-size: $font-size_m;
        }

    }
    &__form{
        text-align: center;
        vertical-align:center;
        font-size: $font-size_xxl;
        @include mq(){
            font-size: $font-size_xl;
        }
    }
}
