.c-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    //todo
    padding-bottom: 20px;
    &__title {
        font-size: $font-size_xxl;
        font-weight: bold;
        line-height: $space_xxl;
        color: $color_title;
    }
    &__theme {
        font-size: $font-size_xxl;
        font-weight: bold;
        //todo
        padding-top:30px;
        padding-bottom: 30px;
    }
}
