.p-top {
    margin:auto;
    box-sizing: border-box;
    background-color: $green;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: $space_xxl;
    padding-right: $space_xxl;
    &__msg{
    }
    &__img {
        display: flex;
        align-items: flex-start;
        width:500px;
    }
}
