#l-header{
    background-color: $color_corp;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    color: $font-color-header;
    padding-left: $space_xl;
    padding-right: $space_xl;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 2;
}



