#l-main{
    margin:auto;
    padding-top: 80px;
    width: $site-width;
    flex: 1;
    display: flex;
    background-color:$color-main;
    @include mq(){
        padding-top:0;
        width:100%;
    }

    &__article{
        @include mq(){
            width:100%;
        }
    }
}
